@import './styles/reset.css';
@import url("https://use.typekit.net/pgp1osb.css");

@import './styles/reset.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --red: #FE1D5B;
  --blue: #1A28D1;
  --green: #11F487;
  --black: #010101;
  }

